body { 
  background-color: #FFFFFF; 
  color: #000000; 
  font-family: Sans-serif;
  margin:0;
}

form{
  padding: 10px;   
}
label{
  display: block;
  font-weight:bold;
}
#email {
  display: none;
}

.pull-right{
  float: right;
}

#content {
  margin: 10px;   
  margin-bottom: 30px;   
}

#logo{
  background-color: #000; 
  background-image:url('logo.png');
  background-repeat: no-repeat; 
  background-position: left top; 
  color: #fff; 
  padding-top: 75px; 
}

#messanger {
    display: none;
    position: absolute;
    left: 10px;
    top: 75px;
    z-index: 1000;
    padding: 2px 10px 2px 10px; 
}

.alert {
    background: #FF0000;
    color: #FFFFFF;    
}

.info {
    background: #12B7E4;
    color: #000000;    
}

#feed{
  margin: 10px;   
}
.panel{
  margin-top: 10px;
  background-color: #FFEDA9;
  box-shadow: 6px 6px 3px #888888; 
}
.panel-heading{
  background-color: #FBE283; 
  padding: 10px;   
}
.panel-body {
  padding: 10px;
}
.panel-footer {
  background-color: #FBE283; 
  padding: 10px;
}
.panel-title{
  font-size:large;
}
